nav ul li {
    font-size: 1.1rem;
    display: block;
    padding: 5px;
    margin: 0;
    border: solid 1px #cccccc;
}

nav ul {
    display: flex;
    flex: 1 1 0px;
    justify-content: center;
    width: 15.3rem;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    text-align: center;
    display: block;
    transition: 1s;
    color: black;
  }

.active-page{
    background-color: #cccccc;
}

.active-page a {
    color: white;
}
