<div ng-controller="order-controller">
  <h1>Restaurant Order</h1>
  <nav>
    <ul>
      <li><a href="/#/addmeal">Add Meal</a></li>
      <li class="active-page"><a href="/#/addorder">Add Order</a></li>
      <li><a href="/#"> Reports </a></li>
    </ul>
  </nav>
  <div class="add-order-section">
    <form class="flex-column addorder-form">
      <div class="form-container">
        <div class="inline leftside-parent">
        <div class="leftside-container flex-column">
          <div class="inline">
            <label for="category-input">Category</label>
            <select id="category-input" required ng-model="mealCategory">
              <option value="Main Dish">Main Dish</option>
              <option value="Appetizer">Appetizer</option>
              <option value="Salad">Salad</option>
              <option value="Dessert">Dessert</option>
            </select>
          </div>
          <div class="inline">
            <label for="meal-input">Meal</label>
            <select id="meal-input" required ng-model='selectedMeal'>
              <option
                ng-repeat="meal in mealsData | filter: {category: mealCategory}"
                ng-if="mealCategory"
                value="{{meal}}"
              >
                {{meal.name}}
              </option>
            </select>
          </div>
          <div class="inline">
            <label for="quantity-input">Quantity</label>
            <input type="number" id="quantity-input" required ng-model='quantity'/>
          </div>
        </div>

        <div class="midside-container flex-column">
          <div class="checkbox-container">
            <div class="inline">
              <input type="checkbox" id="combo" ng-model='combo' />
              <label for="combo">Combo - Add 2LE</label>
            </div>

            <div class="inline">
              <input type="checkbox" id="spicy" ng-model='spicy' />
              <label for="spicy">Spicy - Add 1LE</label>
            </div>
          </div>

          <p>Price {{ total() }} LE</p>
        </div>
      </div>
        <div class="submit-container">
          <input class="submit-button" type="submit" value="Add" ng-click='addMealToOrder()' />
        </div>
      </div>
    </form>
  </div>

  <div class="table-container">
    <div class="table">
      <ul>
        <li>Item</li>
        <li>Quantity</li>
        <li>Price</li>
        <li>Addons</li>
        <li>Total</li>
      </ul>
      <ul ng-repeat='meal in mealsArray'>
        <li>{{meal.name}}</li>
        <li>{{meal.quantity}}</li>
        <li>{{meal.price}}</li>
        <li>{{meal.addons}}</li>
        <li>{{meal.total}}</li>
      </ul>
    </div>

    <div class="total-container">
      <p>Total {{totalPrice}} LE</p>
    </div>
  </div>
  <div class="button-container">
    <button class="submit-button" type="submit" ng-click='addOrder()'>New order</button>
  </div>
</div>
